BOT_TOKEN=
TEST_BOT_TOKEN=
  
MAIN_ADMIN=

BOT_USERNAME=

//МИДЛВЕРИ ПОДПИСКИ
CHANNEL_ID=
CHANNEL_USERNAME=
CHANNEL_ID_P=

CHANNEL_POST_LINK= 

REPORTS_CHAT_ID=
LOG=
DONATION_LOGS_CHAT_ID=
LOG_CHAT_ID=  //ДАБЛ
LOG_CHAT_T_ID=
LOG_CHAT_PROMO_ID=
ADMIN_CHAT_LINK=

//ссылки на режимы
DOUBLE_PLUS_URL=
DICE_URL=
//ссылки на статьи о режимах
DOUBLE_PLUS_INFO_URL=
DICE_INFO_URL=

//соглашение
PRIVACY_POLICY_URL=


GUESS_NUMBER_CHAT_ID=
LOG_GIVE_CHAT_ID=

ALLOWED_CHAT_ID=
DICE_CHAT_ID=

